<form>
  <fieldset>
  
<div class="col-sm-6">
  <legend>Login</legend>
  
  <div class="col-sm-12 form-group">
     
       <label>Username</label>
       <input class="form-control" type="text" [(ngModel)]="loginData.username" name ="us" required/>
  </div>
  <div class="col-sm-12 form-group">
      <label>Password</label>
      <input class="form-control" type="password"  [(ngModel)]="loginData.password"name="pas" required/>
  </div>
  <div class="col-sm-12">
      <button class="btn btn-primary pull-right" (click)="login()" type="submit">Login</button>
      <button class="btn btn-primary pull-right" (click)="register()" type="submit">Register</button>
  </div>

</div>


</fieldset>
</form>