<div class="container">
  <h1 class="col-sm-12">Profit Manager</h1>
  <!-- <div class="col-sm-12">
       <label class="col-sm-3">Username:</label> <span>{{this.username}}</span> 
  </div> --> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><form>
    <fieldset>
        
      
      <div class="col-sm-12 form-group">
            <legend>Add product</legend>
            <input class="form-control" type="text" [(ngModel)]="Term" name="user" required/>
          </div>
          <div class="col-sm-12">     
            
          
                          

      <div class="col-sm-12 form-group">
            <legend>Insert price paid</legend>
            <input class="form-control" type="text" [(ngModel)]="pricePaid" name="price" required/>
           </div>
           <div class="col-sm-12 form-group">


            <legend>Insert profit margin wanted</legend>
            <input class="form-control" type="text" [(ngModel)]="winstMargin" name="winstmargin" required/>
          </div>                        

    
                       
          <button class="btn btn-primary pull-right" (click)="onSubmit()" type="submit">Search</button>
                         
                     
      </div>
    
    </fieldset>
    </form>
    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <h3 class="col-sm-12">Products</h3>
  <table id="mercure" class= "table"></table>


</div>